{% extends "mainbase.html" %}
{% load staticfiles %}
{% load active %}
{% block localhead %}
  
{% endblock localhead %}
{% block content %}
<div class="container-fluid">
<div class="row clearfix">
<div class="col-md-6 col-md-offset-3 column">
<h3 class="text-center">{{templatetitle |title }}</h3>
<hr>

{% for quest in quests %}
  <div class="media">
<a class="no-colour" href="/quest/{{quest.id}}" title="{{quest.title | title}}">
                    <div class="row clearfix">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 column text-center">
                        {% if quest.item_images %}
                        <img src={{quest.get_item_images_normal_url}} class="img-responsive">              
                        {% else %}      
                        <h1><i class="fa fa-picture-o"></i></h1>
                        {% comment %}
                        
                        {% endcomment %}
                       
                        {% endif %}
                      </div>
                      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 column">
                        <h5 class="media-heading">{{quest.title | title}}</h5>
                        <p class="list-group-item-text postDesc">{{quest.description}}</p>
                        
                        <div class="smallInfo">
                            <small>
                                <span class="glyphicon glyphicon-map-marker"></span>{{quest.dropoff.address}}, {{quest.dropoff.city}}
                            </small>
                            <div class="clearfix"></div>
                          <small>${{quest.reward}}</small>
                      </div><!-- ./smallInfo -->
                    </div>
                    </div>
                    </a>  </div>


{% endfor %}

</div>
</div>
</div>  
{% endblock content %}
{% block scripts %}
  
{% endblock scripts %}