{% extends "mainbase.html" %}
{% load staticfiles %}
{% block localhead %}
<link href={% static "css/intlTelInput.css" %} rel="stylesheet">
<script src={% static "js/angular.min.js" %}></script>
{% endblock localhead %}
{% block content%}

{% comment %}
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 column" style="margin-top:20px;">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 column col small" id="customer">
            
            <h3>I want to be a user</h3>
            <button class="btn ">Sign Up</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-6 col-md-6 col-lg-6 column col small" id="shipper">
            <h3>I want to be a shipper</h3>
            <button class="btn ">Sign Up</button>
        </div>
    </div>
    </div>
</div>
{% endcomment %}


<div class="container-fluid">
   
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 column">
            <h3><i class="fa fa-briefcase"></i> Signup to be a courier here</h3>
        </div><!-- ./column -->
    </div><!-- ./row -->
        
    <div class="row clearfix" data-ng-app="myApp">
    <form name="myForm" class="css-form col-md-10 col-md-offset-1 column" form action="{% url 'createcourier' %}" method="post">{% csrf_token %}
      
        
            <div class="col-xs-12 col-lg-3 col-lg-push-9 column">
            <small>Already a member?  Sign in <a href="{% url 'signin' %}">here.</a></small>
            </div><!-- column -->   

            <div class="col-xs-12 col-lg-9 col-lg-pull-3 column">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 column form-group">
                        <h6>EMAIL</h6> 
                        <input id="email" name="email" class="form-control input-xs" type="email" ng-model="user.email" placeholder="Email" required />
                    </div>
                    {{user_form.email.errors}}                        
                </div><!-- ./row -->
                    
                <!-- PASSWORDS -->          
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 column form-group">    
                        <h6>PASSWORD</h6> 
                        <input id="password1" class="form-control input-xs" placeholder="xxxxxxxx" ng-model="user.password" type="password" name="password1" data-ng-class="{'ng-invalid':myForm.password2.$error.match}" />
                        <span class="help-block"><small><strong>Minimum of 6 characters</strong></small></span>
                    </div><!-- ./column -->
                    
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 column">
                        <h6>RETYPE PASSWORD</h6> 
                        <input id="password2" class="form-control input-xs" ng-model="user.passwordConfirm" placeholder="xxxxxxxx" type="password" data-match="user.password" name="password2" />
                        <div data-ng-show="myForm.password2.$error.match">Passwords do not match!</div> 
                        {{user_form.password1.errors}}              
                        {{user_form.password2.errors}}
                    </div><!-- ./column -->  
                </div><!-- ./row -->    

                <!-- USERNAME -->
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 column form-group">
                        <h6>USERNAME</h6> 
                        <input type="text" class="form-control input-xs" placeholder="myusername" name="displayname" id="displayname" ng-model="user.displayname" required>
                        {% if user_form.displayname.errors %}
                            {{user_form.displayname.errors}}
                        {% endif %}
                    </div><!-- ./column -->
                </div><!-- ./row -->
                
                <!-- FIRST AND LAST -->
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 column form-group">
                        <h6>FIRST NAME</h6> 
                        <input type="text" class="form-control input-xs" name="first_name" id="first_name" placeholder="Frank" ng-model="user.firstname" required>   
                        {% if user_form.first_name.errors %}
                            {{user_form.first_name.errors}}
                        {% endif %}   
                    </div><!-- ./column -->

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 column">
                        <h6>LAST NAME</h6> 
                        <div class="form-group">
                        <input type="text" class="form-control input-xs" name="last_name" id="last_name" placeholder="Smith" ng-model="user.lastname" required>
                        {% if user_form.last_name.errors %}
                            {{user_form.last_name.errors}}
                        {% endif %}
                        </div>
                    </div><!-- ./column -->
                </div><!-- ./row -->


                    <!-- PHONE NUMBER -->
                 <div class="row clearfix">
                    <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 column form-group">
                        <h6>PHONE</h6> 
                        <input type="tel" class="form-control input-xs" id="phone" required>
                       <input type="hidden" class="form-control input-xs" id="phoneHidden" name="phone">
                    </div><!-- ./column --> 

                    <!-- LOCATION input-->
                      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 column form-group">
                        <h6>VEHICLE TYPE</h6>
                        <div class="form-group"> 
                        <select class="btn-classic btn-md" data-size="2" name="city">
                        <option>none</option>
                        <option>Sedan</option>
                        <option>Van</option>
                        </select>
                        </div>
                      </div><!-- ./column -->
                </div><!-- ./row -->

             <!-- CITY -->
            <div class="row clearfix">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 column form-group">
                <!-- Location input-->
                    <h6>CITY</h6> 
                    <select id="city" class="btn-classic" data-size="5" name="city">
                        <option>Toronto</option>
                        <option>Brampton</option>
                        <option>Markham</option>
                        <option>Mississauga</option>
                        <option>Richmond Hill</option>
                        <option>Vaughan</option>
                        <option>Oakville</option>
                    </select>
            </div><!-- ./column -->
        </div><!-- ./row -->

            
        <div class="row clearfix">
        <!-- ADDRESS AND POSTAL CODE -->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 column form-group">
                <h6>ADDRESS LINE 1</h6>
                <input type="text" class="form-control input-xs" name="streetaddress" id="streetaddress" placeholder="Street Address, P.O box, company name, etc" ng-model="user.streetaddress" required>
            </div><!-- ./column -->
            <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 column form-group">
                <h6>ADDRESS LINE 2</h6>
                <input type="text" class="form-control input-xs" name="streetaddress_2" id="streetaddress_2" placeholder="Apartment, suite, unit, building, floor, etc." ng-model="user.streetaddress_2" required>
            </div><!-- ./column -->
            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 column form-group">
                <h6>POSTAL CODE</h6>
                <input type="text" class="form-control input-xs" name="postalcode" id="postalcode" placeholder="N6A 8G3" required>
            </div><!-- ./column -->
        </div><!-- ./row -->

       
        <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 column">
            <br><br>
            <button type="submit" class="btn btn-fatty btn-lg" id="createAccBtn">CREATE ACCOUNT</button>
        </div><!-- ./column -->
    </div><!-- ./row -->
</div><!-- ./column -->

    </form>
    </div><!-- ./row -->
</div><!-- ./container -->



{% endblock %}    
{% block scripts %}
<style type="text/css">
  .css-form input.ng-invalid.ng-dirty {
    border-color: rgba(232,77,60,1.00);
  }

  .css-form input.ng-valid.ng-dirty {
    border-color: rgba(47,204,112,1.00);
  }
</style>

<script src={% static "js/intlTelInput.min.js" %}></script>
<script src={% static "js/utils.js" %}></script>

<script type="text/javascript">
$("#phone").intlTelInput({
        autoFormat: true,
        //autoHideDialCode: false,
        defaultCountry: "ca",
        nationalMode: true,
        //numberType: "MOBILE",
        onlyCountries: ['ca'],
        //preferredCountries: ['ca'],
        responsiveDropdown: true
      });

        $( "#phone" ).focusout(function() {
            var cleanNumber = $("#phone").intlTelInput("getCleanNumber");
            document.getElementById('phone').value = cleanNumber;
            document.getElementById('phoneHidden').value = cleanNumber;
        });
</script>

<script type="text/javascript">
     var app = angular.module('myApp', []);
    app.directive('match', function () {
        return {
            require: 'ngModel',
            restrict: 'A',
            scope: {
                match: '='
            },
            link: function(scope, elem, attrs, ctrl) {
                scope.$watch(function() {
                    var modelValue = ctrl.$modelValue || ctrl.$$invalidModelValue;
                    return (ctrl.$pristine && angular.isUndefined(modelValue)) || scope.match === modelValue;
                }, function(currentValue) {
                    ctrl.$setValidity('match', currentValue);
                });
            }
        };
    });
</script>
{% endblock scripts %}