
{% extends "settings.html" %}
{% block tabcontent %}
 <div class="tab-pane active text-style" id="tab2">
     <div class="container">
     <div class="row clearfix">
       <div class="col-md-6 col-lg-6 column">
       
        
	         <h5 class="text-center">PASSWORD</h5>
       
        
          	{% if password %}
            <form class="form-horizontal" name="myForm" action="" method="post"> {% csrf_token %}
            
              <!-- Current Password -->
              <div class="form-group">
                <h6 class="col-md-4 control-label" for="name">CURRENT PASSWORD</h6>
                <div class="col-md-8">
                  <input id="password" name="old_password" type="password" class="form-control input-xs" placeholder="Old password">
                </div>
              </div>
             {% if user_form.old_password.errors %}
                 {{user_form.old_password.errors}}
             {% endif %}
            
              <!-- New Password -->
              <div class="form-group">
                <h6 class="col-md-4 column control-label" for="name">NEW PASSWORD</h6>
                <div class="col-md-8 column">
                  <input type="password" name="new_password1" id="inputPassword" data-minlength="6" class="form-control input-xs" placeholder="New password" required>
                </div>
              </div>
              {% if user_form.new_password1.errors %}
                  {{user_form.new_password1.errors}}
              {% endif %}
              <!-- Retype New Password -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="name"></label>
                <div class="col-md-8">
                  <input type="password" name="new_password2" id="inputPasswordConfirm" class="form-control input-xs" data-minlength="6" placeholder="Retype password" required>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              {% if user_form.new_password2.errors %}
                  {{user_form.new_password2.errors}}
              {% endif %}
              <!-- Form actions -->
              <div class="form-group">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-lg btn-fatty">SAVE</button>
                </div>
              </div>
            </form>
          {% else %}
              You do not have a password yet. Please click <a href="/user/createpassword">here</a> to create a password !
          {% endif %}
        

       </div>
     </div>
 </div>               
 </div>  <!-- End of tab-pane -->

<style type="text/css">
  .css-form input.ng-invalid.ng-dirty {
    border-color: rgba(232,77,60,1.00);
  }

  .css-form input.ng-valid.ng-dirty {
    border-color: rgba(47,204,112,1.00);
  }
</style>

{% endblock tabcontent %}
