{% extends "landingbase.html" %}
{% load staticfiles %}
{% block localhead %}
<link href={% static "landingpage/flat-ui/bootstrap/css/bootstrap.css" %} rel="stylesheet">
	     <link href={% static "landingpage/flat-ui/bootstrap/css/bootstrap-responsive.css" %} rel="stylesheet">
	     <link href={% static "landingpage/flat-ui/css/flat-ui.css" %} rel="stylesheet">
	    
	     <!-- Using only with Flat-UI (free)-->
	     <link href={% static "landingpage/common-files/css/icon-font.css" %} rel="stylesheet">
	     <!-- end -->
	     <link href={% static "landingpage/common-files/css/animations.css" %} rel="stylesheet">
	     

	    <link href={% static "landingpage/css/style.css" %} rel="stylesheet"> 	   

	     <link href={% static "landingpage/img/logo.png" %} rel="shortcut icon">
	    
	    <link href={% static "landingpage/css/font-awesome-4.2.0/css/font-awesome.min.css" %} rel="stylesheet">
{% endblock localhead %}

{% block content %}

<!-- header-1 -->
        <header class="header-1">
            <div class="container">
                <div class="row">
                    <div class="navbar span12">
                        <div class="navbar-inner">
                            <button type="button" class="btn btn-navbar"></button>
                            	<a class="brand" href="{% url 'index' %}"><!--img src="img/logo@2x.png" width="50" height="50" alt="" --> QUESTR</a>
                            <div class="nav-collapse collapse">
                                <ul class="nav pull-right">
                                    <li class="active">
		                                <a href="{% url 'index' %}">HOME</a>
		                            </li>
		                            <li>
		                                <a href="#">GET A QUOTE</a>
		                            </li>
		                            <li>
		                                <a href="{% url 'trackquest' %}">TRACK DELIVERY</a>
		                            </li>
                                </ul>
                                <ul class="subnav">
                                    <li>
                                        <a href="#">Privacy</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms</a>
                                    </li>
                                    <li>
                                        <a href="#">Advertise</a>
                                    </li>
                                    <li>
                                        <a href="#">Affiliates</a>
                                    </li>
                                    <li>
                                        <a href="#">Newsletter</a>
                                    </li>
                                    <li>
                                        <a href="#">About</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="header-1-sub">
            <div id="pt-main" class="page-transitions pt-perspective">
                <div class="pt-page pt-page-1 bg-midnight-blue">
                    <div class="background">
                        &nbsp;
                    </div>
                    <div class="caption">
                        <div class="container">
                    <h3>Same day delivery for everyone.</h3>
                    <p class="lead">
                        Deliver anything 24/7
                    </p>
                   
                </div>
                    </div>
                </div>
               
            
            </div>
        </section>

<!-- faq -->
    <section class="crew-1">
      <div class="container">
        <div class="row">
	        <div class="span12">
		        <div class="panel-group" id="accordion">
					<div class="panel panel-default" id="panel1">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" href="#collapseOne" data-parent="#accordion">
									What is Questr?</a>
							</h6>
						</div><!-- ./panel-heading -->
						<div id="collapseOne" class="panel-collapse collapse collapse">
							<div class="panel-body">
								<p>
									Questr is a crowdsourced shipping platform. Essentially a courier company, but with a different mindset from that of traditional courier companies.
								</p>
							</div><!-- ./panel-body -->
						</div><!-- ./panel-collapse -->
					</div><!-- ./panel-default -->
					
					<div class="panel panel-default" id="panel2">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" href="#collapseTwo" data-parent="#accordion">
									How is Questr different from other courier services?
								</a>
							</h6>
						</div><!-- ./panel-heading -->
						<div id="collapseTwo" class="panel-collapse collapse collapse">
							<div class="panel-body">
								<p>
									Unlike traditional courier companies like Canada Post or UPS or FedEx, Questr's shippers get packages and deliver them to the destination directly without the hassle of going to local facilities, saving much time and labour, by breaking down the centralized logistics and letting the crowd deliver the packages.  
								</p>
							</div><!-- ./panel-body -->
						</div><!-- ./panel-collapse -->
					</div><!-- ./panel-default -->
			
					<div class="panel panel-default" id="panel3">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" href="#collapseThree" data-parent="#accordion">
								Is Questr safe?
								</a>
							</h6>
						</div><!-- ./panel-heading -->
						<div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									Safety is Questr's top priority. By utilizing a multitude of security measures, Questr is guaranteed to be not only just as safe, but also even more trackable and traceable.
								</p>
							</div><!-- ./panel-body -->
						</div><!-- ./panel-collapse -->
					</div><!-- ./panel-default -->
					
					<div class="panel panel-default" id="panel3.1">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" href="#collapseThree1" data-parent="#accordion">
								How does Questr verify its shippers?
								</a>
							</h6>
						</div><!-- ./panel-heading -->
						<div id="collapseThree1" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									We have very strict policies when it comes to approving shippers, each one of them is interviewed and their documents are verified, including their driving records, criminal records, credit card, driver's license, etc. 
								</p>
							</div><!-- ./panel-body -->
						</div><!-- ./panel-collapse -->
					</div><!-- ./panel-default -->
					
					<div class="panel panel-default" id="panel4">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" href="#collapseFour" data-parent="#accordion">
								How fast does Questr delivery its packages?
								</a>
							</h6>
						</div><!-- ./panel-heading -->
						<div id="collapseFour" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									Once a shipper picks up a package, he or she does not need to go to a local sorting facilities but driving directly from the pickup locaiton to dropoff location. A package from Scarborough Town Centre to Square One Mall may only take fourty-five minutes if the traffic is reasonably good.
								</p>
							</div><!-- ./panel-body -->
						</div><!-- ./panel-collapse -->
					</div><!-- ./panel-default -->
					
					<div class="panel panel-default" id="panel5">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" href="#collapseFive" data-parent="#accordion">
								How much does a Questr shipment cost?
								</a>
							</h6>
						</div><!-- ./panel-heading -->
						<div id="collapseFive" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									Questr offers three types of size options: Envelope, Box, and Grande, starting from $6 plus per-km fees. 
								</p>
							</div><!-- ./panel-body -->
						</div><!-- ./panel-collapse -->
					</div><!-- ./panel-default -->	
					
					<div class="panel panel-default" id="panel5.1">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" href="#collapseFive1" data-parent="#accordion">
								Envelop, Box, Grande, what's the difference?
								</a>
							</h6>
						</div><!-- ./panel-heading -->
						<div id="collapseFive1" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									An Envelope package can be a pile of documents or a deck of posters.
									<br>
									A Box package can be anything that fits in a regular moving box.
									<br>
									Anything larger than that is a Grande.
								</p>
							</div><!-- ./panel-body -->
						</div><!-- ./panel-collapse -->
					</div><!-- ./panel-default -->	
						
					<div class="panel panel-default" id="panel6">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" href="#collapse6" data-parent="#accordion">
								Where is Questr currently available?
								</a>
							</h6>
						</div><!-- ./panel-heading -->
						<div id="collapse6" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									Starting from March 11th, 2015, Questr is available in the Greater Toronto Area. 
								</p>
							</div><!-- ./panel-body -->
						</div><!-- ./panel-collapse -->
					</div><!-- ./panel-default -->	
					
					<div class="panel panel-default" id="panel7">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" href="#collapse7" data-parent="#accordion">
								How do I become a shipper?
								</a>
							</h6>
						</div><!-- ./panel-heading -->
						<div id="collapse7" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									Go to <a href="{% url 'contact' %}">Contact Us</a> and let us know you are interested. We will get back to you very shortly.
								</p>
							</div><!-- ./panel-body -->
						</div><!-- ./panel-collapse -->
					</div><!-- ./panel-default -->	
					
					<div class="panel panel-default" id="panel8">
						<div class="panel-heading">
							<h6 class="panel-title">
								<a data-toggle="collapse" href="#collapse8" data-parent="#accordion">
								What kind of vehicle do I need in order to become a shipper?
								</a>
							</h6>
						</div><!-- ./panel-heading -->
						<div id="collapse8" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									A bike, a scooter, a car, anything that can get you around the city quickly.
								</p>
							</div><!-- ./panel-body -->
						</div><!-- ./panel-collapse -->
					</div><!-- ./panel-default -->			
				</div><!-- ./panel-group -->
	        </div>
        </div>
      </div>
      <!--/.container-->
    </section>
    
    
    <!-- footer-1 -->
<footer class="footer-1 bg-midnight-blue">
      <div class="container">
        <div class="row">
          <div class="span4">
            <p class="lead">We are a proud supporter of the disabled community <i class="fa fa-wheelchair"></i></p>
            Providing jobs for the disabled since 2014.
            
          </div>
          <nav>
            <div class="span2 offset1">
              <h6>More</h6>
              <ul>
                {% comment %}
	            
	            <li>
	                <a href="#">Blog</a>
	            </li>
                <li>
                    <a href={% url 'career' %}>Careers</a>
                </li>

                {% endcomment %}
                <li>
                    <a href="{% url 'about' %}">About Us</a>
                </li>
	            <li>
                    <a href="{% url 'faq' %}">FAQ</a>
                </li>
	            <li>
	                <a href={% url 'team' %}>Team</a>
	            </li>
	            <li>
	                <a href="{% url 'contact' %}">Contact</a>
	            </li>
                <li>
                    <a href="{% url 'applyAsCourier' %}">Become a courier</a>
                </li>
	        </ul>
            </div>
            <div class="span2">
              <h6>Follow Us</h6>
              <ul>
                <li><a target="_blank" href="https://www.facebook.com/questrco">Facebook</a>
                </li>
                <li><a target="_blank" href="https://twitter.com/questrco">Twitter</a>
                </li>
                <li><a href="#">&nbsp;</a></li>
                <li><a href="#">&nbsp;</a></li>
                <li><a href="#">&nbsp;</a></li>
                <li><a href="#">&nbsp;</a></li>
              </ul>
            </div>
            <div class="span3" style="margin-left:0;padding-left:0;">
            <h6>Subscribe to our newsletter</h6>
            <form role="form" action="{% url 'join'%}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_top" novalidate style="width:100%;margin-left:0;padding-left:0;">{% csrf_token %}
            <div class="control-group" style="width:100%;margin-left:0;padding-left:0;">
                            <div class="input-append" style="width:100%;margin-left:0;padding-left:0;">
                                <input name="EMAIL" type="email" id="address" placeholder="Enter your email" data-validate="validate(required, email)" required="required" style="min-width:100%;">
                                <button class="btn" type="submit">
                                    <span class="fui-arrow-right"> </span>
                                </button>
                            </div>
                            <span id="result" class="alertMsg"></span>
                        </div>
            </form>
            
            
          </div>
          </nav>
          
        </div>
        <div class="row">
          <div class="span4 additional-links">
            <a href="{% url 'terms' %}">Terms of Service</a>
            <a href="{% url 'privacy' %}">Privacy Policy</a>
          </div>
        </div>
      </div>
    </footer>








 
  
	
			
{% endblock content %}
{% block scripts %} 
<script src={% static "landingpage/common-files/js/jquery-1.10.2.min.js" %}></script>
	<script src={% static "landingpage/flat-ui/js/bootstrap.min.js" %}></script>
	<script src={% static "landingpage/common-files/js/modernizr.custom.js" %}></script>
	<script src={% static "landingpage/common-files/js/page-transitions.js" %}></script>
	<script src={% static "landingpage/common-files/js/easing.min.js" %}></script>
	<script src={% static "landingpage/common-files/js/jquery.svg.js" %}></script>
	<script src={% static "landingpage/common-files/js/jquery.svganim.js" %}></script>
	<script src={% static "landingpage/common-files/js/startup-kit.js" %}></script>
	<script src={% static "landingpage/js/script.js" %}></script> 
{% endblock scripts %}