{% extends "landingbase.html" %}
{% load staticfiles %}
{% block localhead %}
    <link href={% static "landingpage/flat-ui/bootstrap/css/bootstrap.css" %} rel="stylesheet">
	     <link href={% static "landingpage/flat-ui/bootstrap/css/bootstrap-responsive.css" %} rel="stylesheet">
	     <link href={% static "landingpage/flat-ui/css/flat-ui.css" %} rel="stylesheet">
	    
	     <!-- Using only with Flat-UI (free)-->
	     <link href={% static "landingpage/common-files/css/icon-font.css" %} rel="stylesheet">
	     <!-- end -->
	     <link href={% static "landingpage/common-files/css/animations.css" %} rel="stylesheet">
	     

	    <link href={% static "landingpage/css/style.css" %} rel="stylesheet"> 	   
  
	     <link href={% static "landingpage/img/logo.png" %} rel="shortcut icon">
	    
	    <link href={% static "landingpage/css/font-awesome-4.2.0/css/font-awesome.min.css" %} rel="stylesheet">
    
{% endblock localhead %}
{% block content %}



<!-- header-1 -->
        <header class="header-1">
            <div class="container">
                <div class="row">
                    <div class="navbar span12">
                        <div class="navbar-inner">
                            <button type="button" class="btn btn-navbar"></button>
                            	<a class="brand" href="{% url 'index' %}"><!--img src="img/logo@2x.png" width="50" height="50" alt="" --> QUESTR</a>
                            <div class="nav-collapse collapse">
                                <form class="navbar-form pull-right">
	                                <a class="btn btn-primary" href="{% url 'signin' %}">SIGN IN</a>
	                            </form>
                                <ul class="nav pull-right">
                                    <li class="active">
		                                <a href="{% url 'index' %}">HOME</a>
		                            </li>
		                            <li>
		                                <a href="#pricing">PRICING</a>
		                            </li>
                                    {% comment %}
		                            <li>
		                                <a href="{% url 'trackquest' %}">TRACK A PACKAGE</a>
		                            </li>
                                    {% endcomment %}
                                </ul>
                                
                                <ul class="subnav">
                                    <li>
                                        <a href="{% url 'privacy' %}">Privacy</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'terms' %}">Terms</a>
                                    </li>
                                    <li>
						                <a href="#">About Us</a>
						            </li>
						            <li>
						                <a href="#">Blog</a>
						            </li>
						            <li>
						                <a href="{% url 'faq' %}">FAQ</a>
						            </li>
						            <li>
						                <a href="#">Team</a>
						            </li>
						            <li>
						                <a href="#">Careers</a>
						            </li>
						            <li>
						                <a href="{% url 'contact' %}">Contact</a>
						            </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="header-1-sub">
            <div id="pt-main" class="page-transitions pt-perspective">
                <div class="pt-page pt-page-1 bg-midnight-blue">
                    <div class="background">
                        &nbsp;
                    </div>
                    <div class="caption">
                        <div class="container">
                            <h3>Deliver anything, anytime, in minutes</h3>
                            <p class="lead">
                                24-hour rush delivery within GTA
                                <br><br>
                                <a class="btn btn-primary" href="{% url 'applyAsUser' %}">Ship now</a>
                            </p>
                         
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>


        <!-- content-35  -->
        <section class="content-35">
            <div class="background">
                <div class="container">
                    <div class="row">
                        <div class="span4">
                            <div>
                                <img src={% static "landingpage/img/whatisquestr.jpg" %}>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="span6 offset5">
                        <h2>What is Questr?</h2>
                        <p class="lead">
                           Questr is a rush delivery service running in the Greater Toronto Area. We deliver anything, anytime, to anywhere in GTA, within minutes. It is amazingly simple to use our service, and you don't need a contract to get the best price--we always offer you that.
                        </p>
                        <div class="row columns">
                            <div class="span3">
                                <h3>Send a request</h3>
                                <p>
                                   Send a request in no time at all. Choose from a selection of pre-made sizing options--no tape measure needed.
                                </p>
                            </div>
                            <div class="span3">
                                <h3>Wait for pickup</h3>
                                <p>
                                    Organize when you want your delivery dropped off.  No more picking your package up at the post office.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% comment %}
<!-- logos -->
<section class="logos">
    <div class="container">
        <div>
        </div>
        <div>
        </div>
        <div>
        </div>
        <div>
        </div>
        <div>
        </div>
    </div>
</section>
{% endcomment %}

<!-- content-6 -->
    <section class="content-6 v-center">
      <div>
        <div class="container">
          <h3 style="margin-left:-150px;"><img src={% static "landingpage/common-files/icons/box@2x.png" %} width="300" height="300" alt=""></h3>
          <h3>Why Questr?</h3>
          <p class="lead">Delivery service finally in the 21st century</p>
          <div class="row features">
            <div class="span4 offset2">
              <h6><i class="fa fa-bolt"></i> Lightning Fast</h6>
              <p>
                Square 1 to STC within 60 minutes. Say goodbye to overnight waits.
            </p>
            </div>
            <div class="span4 offset1">
              <h6><i class="fa fa-clock-o"></i> Available 24/7</h6>
              <p>
                86,400 seconds a day, 7 days a week, no matter it's rush hours on Friday or midnight on Christmas Eve.
              </p>
            </div>
          </div>
          <div class="row features">
            <div class="span4 offset2">
              <h6><i class="fa fa-smile-o"></i> Great <strike>Customer</strike> Service</h6>
              <p>
                We treat you not just as a customer, but a friendly neighbour next door.
              </p>
            </div>
            <div class="span4 offset1">
                <h6><i class="fa fa-compass"></i> Realtime Tracking - coming soon</h6>
                <p>
                    Worry no more. Always know where your package is at this exact moment with our tracking technology.
                </p>
            </div>
          </div>
        </div>
      </div>
    </section>



{% comment %}
<!-- ******************** MENTIONS ******************** -->	
<div class="row clearfix" style="margin:0; padding:0;">
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 column" style="padding:0;">
			<a href="http://skift.com/2014/03/27/daily-travel-startup-watch-opendoor-coexperiences-and-more/">
				<img src={% static "img/skift.png" %} class="img-responsive grey-transition" style="margin-bottom:40px;">
			</a>
		</div><!-- ./column -->
	</div><!-- ./row -->
{% endcomment %}

<!-- price-2 -->
<a name="pricing">
        <section class="price-2">

            <div class="container">
                <div class="row">
                    <div class="span8 offset2">
                        <h3>Pricing</h3>
                        <p>
                            Transparent pricing. No contract commitment.
                        </p>
                    </div>
                </div>
                <div class="plans">
                    <div class="plan">
                        <div class="title">
                            ENVELOPE
                            <div class="price">
                                <span class="currency">$</span>6<br>
                                <span class="period"><br>for the first 5 km</span>
                            </div>
                            <a class="btn btn-clear btn-small" href="#">SHIP NOW</a>
                            <div class="ribbon">
                                NEW
                            </div>
                        </div>

                        <div class="description">
                            <div class="description-box">
                                <span>Additional 20 km</span> $ <b>0.70</b> / km
                            </div>
                            <div class="description-box">
                                <span>Distance beyond</span> $ <b>0.60</b> / km
                            </div>
                            
                        </div>
                    </div>

                    <div class="plan plan-2">
                        <div class="title">
                            BOX
                            <div class="price">
                                <span class="currency">$</span>8<br>
                                <span class="period"><br>for the first 5 km</span>
                            </div>
                            <a class="btn btn-clear btn-small" href="#">SHIP NOW</a>
                        </div>

                        <div class="description">
                            <div class="description-box">
                                <span>Additional 20 km</span> $ <b>0.80</b> / km
                            </div>
                            <div class="description-box">
                                <span>Distance beyond</span> $ <b>0.70</b> / km
                            </div>
                            
                        </div>
                    </div>

                    <div class="plan">
                        <div class="title">
                            GRANDE
                            <div class="price">
                                <span class="currency">$</span>10<br>
                                <span class="period"><br>for the first 5 km</span>
                            </div>
                            <a class="btn btn-clear btn-small" href="#">SHIP NOW</a>
                        </div>

                        <div class="description">
                            <div class="description-box">
                                <span>Additional 20 km</span> $ <b>1.00</b> / km
                            </div>
                            <div class="description-box">
                                <span>Distance beyond</span> $ <b>0.80</b> / km
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>




<!-- content-2  -->
<section class="content-2">
    <div class="container">
        <div class="row">
            <div class="span6">
                <h3>Start Using Questr</h3>
                <p>
                	We are currently in private beta, and only serve the Greater Toronto Area. If you're interested in using Questr, please let us know.
                </p>
                <div class="btns">
                    <a href="{% url 'applyAsUser' %}" class="btn btn-large btn-clear">TRY IT NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>

        
        <!-- footer-1 -->
    <footer class="footer-1 bg-midnight-blue">
      <div class="container">
        <div class="row">
          <div class="span4">
            <p class="lead">We are a proud supporter of the disabled community <i class="fa fa-wheelchair"></i></p>
            Providing jobs for the disabled since 2014.
            
          </div>
          <nav>
            <div class="span2 offset1">
              <h6>More</h6>
              <ul>
                {% comment %}
	            
	            <li>
	                <a href="#">Blog</a>
	            </li>
                <li>
                    <a href={% url 'career' %}>Careers</a>
                </li>

                {% endcomment %}
                <li>
                    <a href="{% url 'about' %}">About Us</a>
                </li>
	            <li>
                    <a href="{% url 'faq' %}">FAQ</a>
                </li>
	            <li>
	                <a href={% url 'team' %}>Team</a>
	            </li>
	            <li>
	                <a href="{% url 'contact' %}">Contact</a>
	            </li>
                <li>
                    <a href="{% url 'applyAsCourier' %}">Become a courier</a>
                </li>
	        </ul>
            </div>
            <div class="span2">
              <h6>Follow Us</h6>
              <ul>
                <li><a target="_blank" href="https://www.facebook.com/questrco">Facebook</a>
                </li>
                <li><a target="_blank" href="https://twitter.com/questrco">Twitter</a>
                </li>
                <li><a href="#">&nbsp;</a></li>
                <li><a href="#">&nbsp;</a></li>
                <li><a href="#">&nbsp;</a></li>
                <li><a href="#">&nbsp;</a></li>
              </ul>
            </div>
            <div class="span3" style="margin-left:0;padding-left:0;">
            <h6>Subscribe to our newsletter</h6>
            <form role="form" action="{% url 'join'%}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_top" novalidate style="width:100%;margin-left:0;padding-left:0;">{% csrf_token %}
            <div class="control-group" style="width:100%;margin-left:0;padding-left:0;">
                            <div class="input-append" style="width:100%;margin-left:0;padding-left:0;">
                                <input name="EMAIL" type="email" id="address" placeholder="Enter your email" data-validate="validate(required, email)" required="required" style="min-width:100%;">
                                <button class="btn" type="submit">
                                    <span class="fui-arrow-right"> </span>
                                </button>
                            </div>
                            <span id="result" class="alertMsg"></span>
                        </div>
            </form>
            
            
          </div>
          </nav>
          
        </div>
        <div class="row">
          <div class="span4 additional-links">
            <a href="{% url 'terms' %}">Terms of Service</a>
            <a href="{% url 'privacy' %}">Privacy Policy</a>
          </div>
        </div>
      </div>
    </footer>
{% endblock content %}

{% block scripts %}
<script src={% static "landingpage/common-files/js/jquery-1.10.2.min.js" %}></script>
	<script src={% static "landingpage/flat-ui/js/bootstrap.min.js" %}></script>
	<script src={% static "landingpage/common-files/js/modernizr.custom.js" %}></script>
	<script src={% static "landingpage/common-files/js/page-transitions.js" %}></script>
	<script src={% static "landingpage/common-files/js/easing.min.js" %}></script>
	<script src={% static "landingpage/common-files/js/jquery.svg.js" %}></script>
	<script src={% static "landingpage/common-files/js/jquery.svganim.js" %}></script>
	<script src={% static "landingpage/common-files/js/startup-kit.js" %}></script>
	<script src={% static "landingpage/js/script.js" %}></script>
{% endblock scripts %}

	