{% extends "mainbase.html" %}
{% load staticfiles %}
{% load tz %}
{% block localhead %}

    <!-- Custom styles for this template -->
    
    
    <!-- Circle progress bar css -->
     <link rel="stylesheet" href={% static "css/thankyou-circle.css" %}>

    <!-- Fonts from Google Fonts -->
    {# <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'> #}

{% endblock localhead %}
{% block content %}

        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-6 col-lg-6 col-lg-6">
                    <h1>Thanks for joining us.<br>Please check your mailbox and verify your email address.</h1>
                    <h1>Click <u><a href="/user/verifymail">here</a></u> to resend the verification email!</h1>   
                </div><!-- /col-lg-6 -->
                <div class="col-lg-6">
                   <div class="circle"><span class="glyphicon glyphicon-ok" style="line-height:inherit;"></span></div>
                </div><!-- /col-lg-6 -->
                
            </div><!-- /row -->
        </div><!-- /container -->
{% endblock content %}
{% block scripts %}
{% endblock scripts %}