{% extends "mainbase.html" %}
{% load staticfiles %}
{% block localhead %}
    <!-- Custom CSS -->
    <link href={% static "css/quest.css" %} rel="stylesheet">
    <link href={% static "css/star-rating.css" %} media="all" rel="stylesheet" type="text/css"/>
    
    <!-- Custom Javascript -->
    <script src={% static "js/validator.js" %}></script>    
    <script src={% static "js/lightbox.js" %}></script>
    <script src={% static "js/star-rating.js" %} type="text/javascript"></script>
    
{% endblock localhead %}
{% block content %}

<div class="container">
  <div class="row">
      <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal" action="{% url 'confirmeditquest' questname=questdetails.id%}" method="post">{% csrf_token %}
          <fieldset>
            <legend class="text-center">Edit your quest here</legend>
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="name"><p class="grey">Title</p></label>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
                <input id="title" name="title" type="text" class="form-control input-xs" value="{{title}}" readonly="yes">
              </div><!-- ./column -->
            </div><!-- ./form-group -->
    
            <!-- Offer input-->
            <div class="form-group">
              <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="name"><p class="grey">Shipping fee</p></label>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
                <input id="reward" name="reward" type="text" class="form-control input-xs" value="{{reward}}" readonly="yes">
              </div>
            </div><!-- ./form-group -->

            <!-- Distance input-->
            <div class="form-group">
              <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="name"><p class="grey">Distance</p></label>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
                <input id="distance" name="distance" type="text" class="form-control input-xs" value="{{distance}}" readonly="yes">
              </div>
            </div><!-- ./form-group -->          


            <!-- Location input-->
            <div class="form-group">
              <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label"><p class="grey">Pick up from</p></label>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column"> 
                  <select class="selectpicker show-menu-arrow show-tick" data-size="5" name="srccity" value="{{srccity}}" readonly="yes">
                      <option>{{srccity}}</option>
                    </select>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column"></div>
                
            </div>  <!-- End of Form group -->

                    
            <!-- Pickup Address input-->
            <div class="form-group">
              <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="name"></label>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
                <input id="srcaddress" name="srcaddress" type="text" placeholder="Departure Address" class="form-control input-xs" value="{{srcaddress}}" readonly="Yes">
              </div>
            </div>

            <!-- Pickup Name input-->
            <div class="form-group">
              <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="name"></label>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
                <input id="srcname" name="srcname" type="text" placeholder="Departure Address" class="form-control input-xs" value="{{srcname}}" readonly="Yes">
              </div>
            </div>

            <!-- Pickup Phone input-->
            <div class="form-group">
              <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="name"></label>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
                <input id="srcphone" name="srcphone" type="text" placeholder="Departure Address" class="form-control input-xs" value="{{srcphone}}" readonly="Yes">
              </div>
            </div>
                    
            <!-- Pickup Postal input-->
            <div class="form-group">
              <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="name"></label>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
                <input id="srcpostalcode" name="srcpostalcode" type="text" placeholder="Departure Address" class="form-control input-xs" value="{{srcpostalcode}}" readonly="Yes">
              </div>
            </div>
                   
            <div class="form-group">
              <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label"><p class="grey">Drop off at</p></label>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column"> 
              
                <select class="selectpicker show-menu-arrow show-tick" data-size="5" name="dstcity" value="{{dstcity}}" readonly="yes">
                      <option>{{dstcity}}</option>
                    </select>
              </div>
            </div>  <!-- ./form-group -->  
            
            
            
            <!-- Dropoff Address input-->
            <div class="form-group">
              <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="name"></label>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
                <input id="dstaddress" name="dstaddress" type="text" placeholder="Destination Address" class="form-control input-xs" value="{{dstaddress}}" readonly="yes">
              </div>
            </div>
                  
            <!-- Dropoff Name input-->
            <div class="form-group">
              <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="name"></label>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
                <input id="dstname" name="dstname" type="text" placeholder="Destination Address" class="form-control input-xs" value="{{dstname}}" readonly="yes">
              </div>
            </div>

            <!-- Dropoff Phone input-->
            <div class="form-group">
              <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="name"></label>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
                <input id="dstphone" name="dstphone" type="text" placeholder="Destination Address" class="form-control input-xs" value="{{dstphone}}" readonly="yes">
              </div>
            </div>                                   

            <!-- Dropoff Postal input-->
            <div class="form-group">
              <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="name"></label>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
                <input id="dstpostalcode" name="dstpostalcode" type="text" placeholder="Departure Address" class="form-control input-xs" value="{{dstpostalcode}}" readonly="Yes">
              </div>
            </div>
                    
                    
            <div class="form-group" id="size">
              <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="message"><p class="grey">Package Size</p></label>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
                 <div class="input-group col-sm-12 col-md-12 col-lg-12 column"> 
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 column">
                        <center>
                            <img src={% static '' %}img/{{size}}.png %} style="width:100%; height:auto;" />            
                            <p>{{size | title}}</p>
                            <input type="radio" name="size" value="{{size}}" checked="checked"> 
                        </center>   
                    </div>   
                 </div><!-- /input-group -->
              </div>
             </div>

             <!-- Message body -->
             <div class="form-group">
               <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="message"><p class="grey">Your Message</p></label>
               <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
                 <textarea class="form-control" id="description" name="description" rows="5" readonly="yes">{{description}}</textarea>
               </div>
             </div>
  

             <!-- Image Uploader -->
            <div class="form-group">
              <label class="col-xs-12 col-sm-4 col-md-4 col-lg-4 column control-label" for="message"><p class="grey">Please upload an image relative to your quest before you confirm!</p></label>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 column">
                <img style="width:260px; height:auto;" src="{{MEDIA_URL}}{{questdetails.item_images}}">
                    <span class="input-group-btn">
                    <div class="btn btn-xs btn-info image-preview-input">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span class="image-preview-input-title">Upload</span>
                        <input type="file" accept="image/png, image/jpeg, image/gif" name="item_images"/> <!-- rename it -->
                    </div>
                </span>
              </div>
            </div>
            <div class="panel-body">
              <img alt="itemImage" class="itemImage img-rounded" src="{{map_image}}">
            </div> 
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-info">Save</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
  </div>
</div>


{% endblock content %}
{% block scripts %}    
{% endblock scripts %}