{% extends "mainbase.html" %}
{% load staticfiles %}
{% load tz %}
{% block localhead %}
<link href={% static "css/feature.css" %} rel="stylesheet">
<link href={% static "css/star-rating.css" %} media="all" rel="stylesheet" type="text/css"/>
{% endblock localhead %}
{% block content %}

<div class="container-fluid">


    <!-- ACCEPTED QUEST RESPONSE -->
    <div class="row clearfix">
        <div class="col-md-4 column text-center">
            <i class="fa fa-check-circle-o" style="font-size:180px;"></i>
        </div>
        <div class="col-md-8 column">
            <h2>Job accepted!</h2>
            <h5>Transfering you to your job details...</h5>
        </div>
    </div><!-- ./row -->
    <!-- ACCEPTED QUEST RESPONSE -->
    {% endblock content %}
</div><!-- ./container -->
{% block scripts %}
    
{% endblock scripts %}